/* Space out content a bit */

body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: #ddd;
    font-family: 'Droid Sans', sans-serif;
    position: relative;
}
a,
a:hover,
a:link,
a:active,
a:visited {
    text-decoration: none;
}
.scroll {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 110%;
    width: 100%;
    position: fixed;
    margin-top: -20px;
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 100px;
}
.bleed {} .list-group-item:first-child,
.list-group-item:last-child,
.input-group .form-control:last-child,
.input-group-addon:last-child,
.input-group-btn:last-child>.btn,
.input-group-btn:last-child>.btn-group>.btn,
.input-group-btn:last-child>.dropdown-toggle,
.input-group-btn:first-child>.btn:not(:first-child),
.input-group-btn:first-child>.btn-group:not(:first-child)>.btn {
    border-radius: 0;
}
/* Customize container */

@media (min-width: 768px) {}
/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {}
/* line */

#graph {
    margin-left:10em;
    display:block;
    min-height:316px;
    height:100%;
    min-width:60%;
    background-color:white;
    border:1px solid #ddd;
}
#graph-inner {
    position: absolute;
    top: 50px;
    left: 10em;
    right: 0;
    bottom: 0;
    background-color: white;
}
#left-panel {
    float: left;
    width: 10em;
    background-color: white;
    margin-top: -20px;
}
#left-panel ul {
    margin: 0;
}
.wheelbutton {
    height: 3em;
    width: 3em;
}
.midletter {
    display: inline-block;
    width: 1em;
    text-align: center;
}
#top-level-container {
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
    overflow: hidden;
}
.mycontainer {
    margin: 0;
    width: 100%;
    padding: 0;
}