<form>
  <fieldset>
    <div class="input-group search">
      <span class="input-group-addon"><i class="fa-search fa"></i></span>
      <input type="text" class="form-control" placeholder="search">
    </div>

    <div class="list-group">
      <a ng-click="selectScreen('home')" class="list-group-item">
        <h4 class="list-group-item-heading"><i class="fa fa-home"></i> Home </h4>
      </a>
      <a ng-click="selectScreen('sources')" class="list-group-item">
        <h4 class="list-group-item-heading"><i class="fa fa-dot-circle-o"></i> Sources </h4>
      </a>
    </div>
  </fieldset>
</form>